body {
    text-align: center;
    background-color: #9db7e4;
    color: white;
    font-family: helvetica,Arial;
}
#add {
    background-color: red;
    border: 0;
    color: white;
    padding: 10px 10px;
    padding-right: 40px;
    cursor: pointer;
    margin-top: 35px;
}
.remove {
    margin-top:8px;
    background-color: #f2f205;
    float: right;
    clear:both;
    padding-right:20px;
    border-radius:5px;
    width:60px;
    height:20px;
    border-style: none;
    cursor: pointer;

}

#wrapper {
    width: 50%;
    background-color: #565773;
    margin-top: 12%;
    margin-left: 22%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-top: 3%;
    padding-right: 4%;
    box-shadow: 10px 10px 5px #6a6dd4;
}

ul {
    list-style:none;
    text-align: left;
    line-height: 35px;

}
#task {
    width: 80%;
    height: 30px;
    margin-left:1%;
}
h1{
    margin-top:30px;
}